/* CSS */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
    background-color: '#fff';
  }
  ::-webkit-scrollbar-track {
    background: '#fff';
  }
  ::-webkit-scrollbar-thumb {
    background-color: #484dff; /* Change this to your desired hover background color */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #484dff; /* Change this to your desired hover background color */
  }
  